.desktop {
    padding: 0;
    margin: 0;
    position: relative;
    .datetime {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translate(-50%, 0);
        margin: 0 auto;
    }
    .app-board {
        height: 90%;
        width: 40%;
    }
    .app-dashboard {
        position: absolute;
        left: 0;
        bottom: 0;
        &:hover {
            cursor: pointer;
        }
    }
    .header-right {
        position: absolute;
        right: 0;
        top: 0;
    }
}