.container {
  padding: 0;
  margin: 0;
}

.sidebar {
  width: 210px;
  height: 100%;
  background-color: #11101d;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  transition: all 0.5s ease;
}

.menu {
  width: 210px;
  height: 100%;
  color: white;
  background-color: #24272e;
  position: fixed;
  top: 60px;
  left: 0;
  margin: auto;
}

.logo-details {
  width: 210px;
  height: 60px;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo-img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-right: 6px;
  }
  .logo-text {
    font-size: 20px;
    font-weight: bold;
    color: green;
    white-space: nowrap;
  }
}

.header {
  position: fixed;
  left: 210px;
  height: 60px;
  width: 100%;
  background-color: white;
}

.content {
  position: absolute;
  top: 60px;
  left: 210px;
  bottom: 30px;
  right: 0;
  background-color: gray;
  overflow: auto;
}

.footer {
  position: fixed;
  left: 210px;
  bottom: 0;
  right: 0;
  height: 30px;
  width: 100%;
  background-color: white;
}
